.technologies__item {
  padding: 5px 300px 5px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #fff;
  background-color: #1d2430;
}
.technologies__icon {
  margin-left: 10px;
  margin-right: 10px;
  color: #30cc8e;
  width: 30px;
}
