.hero_list {
  display: flex;
  list-style: none;
  margin-right: -15px;
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 15px;
  }

  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}

.hero_item__btn {
  display: inline-block;
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #656b77;
  background-color: #1d2430;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  :focus {
    background-color: #4895fa;
    color: #fff;
  }
}
