.header {
  background-color: #1d2430;
}

.inner__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__logo {
  display: flex;
  align-items: center;
}

.line {
  margin: 0 20px;
  color: #fff;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.response__link {
  display: inline-block;
  text-decoration: none;
  color: #878e9b;
  padding: 20px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover,
  :focus {
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.burger__btn {
  padding: 5px 5px 4px 5px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;

  &:hover,
  :focus {
    color: aqua;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
